[Unit]
Description=node docker-nodejs-base-koa-demo server

[Service]
Type=forking
ExecStart=/data/release/docker-nodejs-base-koa-demo/koa-start.sh
Restart=always
User=root
Group=root
WorkingDirectory=[/data/release/docker-nodejs-base-koa-demo]

[Install]
WantedBy=multi-user.targe